*.class
*.la
*.o
*.lo
*.jar
*.gfo
*.pgf
dist/
src/runtime/c/.libs/
src/runtime/c/Makefile
src/runtime/c/Makefile.in
src/runtime/c/aclocal.m4
src/runtime/c/autom4te.cache/
src/runtime/c/config.h
src/runtime/c/config.h.in
src/runtime/c/config.log
src/runtime/c/config.status
src/runtime/c/configure
src/runtime/c/gu/.deps/
src/runtime/c/gu/.dirstamp
src/runtime/c/libgu.pc
src/runtime/c/libpgf.pc
src/runtime/c/libsg.pc
src/runtime/c/libtool
src/runtime/c/m4/libtool.m4
src/runtime/c/m4/ltoptions.m4
src/runtime/c/m4/ltsugar.m4
src/runtime/c/m4/ltversion.m4
src/runtime/c/m4/lt~obsolete.m4
src/runtime/c/pgf/.deps/
src/runtime/c/pgf/.dirstamp
src/runtime/c/pgf/lightning/asm.h
src/runtime/c/pgf/lightning/core.h
src/runtime/c/pgf/lightning/fp.h
src/runtime/c/pgf/lightning/funcs.h
src/runtime/c/scripts/
src/runtime/c/sg/.deps/
src/runtime/c/sg/.dirstamp
src/runtime/c/stamp-h1
src/runtime/java/.libs/
src/runtime/python/build/
.cabal-sandbox
cabal.sandbox.config
.stack-work
DATA_DIR

stack*.yaml.lock

# Generated documentation (not exhaustive)
demos/index-numbers.html
demos/resourcegrammars.html
demos/translation.html
doc/tutorial/gf-tutorial.html
doc/index.html
doc/gf-bibliography.html
doc/gf-developers.html
doc/gf-editor-modes.html
doc/gf-people.html
doc/gf-refman.html
doc/gf-shell-reference.html
doc/icfp-2012.html
download/*.html
gf-book/index.html
src/www/gf-web-api.html
