{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["warn", 2],
    "@typescript-eslint/no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "semi": "off",
    "@typescript-eslint/semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
  }
}
